<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pingball-phase2/src/client/PingballGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="client.PingballGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--host localhost --port 10987 --file ${file_prompt:select board file:${project_loc:pingball-phase2}/boards/sampleBoard1.pb}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pingball-phase2"/>
</launchConfiguration>
